body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #FFF8C9;
    color: #292331;
}

h1 {font-size: 3em;}
h2 {font-size: 2em;}

td, th {border: 1px solid black;}

h1 {color: #648297;
    background-color:#333333
}

nav a:hover {color: #64CCC5;} 
nav {color: #DFCCFB;}
nav a {color: #c4b3dd;}
h2 {color: #BEADFA;} 

nav {
    padding: 10px; /* Padding is inside the box */
    border: 2px solid #333333;
    margin-bottom: 30px;
    background-color: #628987;
}

#secondpara {color: darkslategray;}
.evenrow {background-color: lightgray;}
.head {background-color: gray;}
